<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--Configuration bean-->
        <!--<bean id="student_bean" class="com.mrn.Student" scope="singleton">-->
    <bean id="student_bean" class="com.mrn.Student" scope="prototype">
            <!--property correspond with the JavaBean setter method exposed by the bean class
                 Spring supports primitives, references to other
                 beans in the same or related factories, lists, maps and properties.
            -->
            <!--<property name="studentName" value="Joe Smith"/>-->
        </bean>

</beans>